body{
    margin: 0;
    padding: 0;
}
header{
    color: white;
    background-color: dodgerblue;
    padding: 20px;
}
footer{
    color: white;
    text-align: center;
    background-color: dodgerblue;
    padding: 16px;
}
.form{
    width: 60% ;
    margin: auto;
    border: 1px solid rgba(0, 0, 0, 0.308);
    border-radius: 7px;
    padding: 20px;
}
.container{
    min-height: 400px;
    padding: 20px;
}
.dash{
    display: flex;
    justify-content: space-evenly;
}
.list-group-item:hover{
    background-color: dodgerblue;
    
}
.list-group-item a:hover{
    color: white;
    font-weight: bolder;
    text-decoration: none;
}
.paid{
    color: rgb(69, 131, 7);
    
}
.not-paid{
    color: red;
}

th{
    background-color: dodgerblue;
    color: white;
}
.flex{
    display: flex;
    justify-content: space-evenly;
}