{% extends 'layout.html' %}
{% block body %}
   {% with messages =get_flashed_messages() %}
       {% if messages %}
           {% for message in messages %}
               <div class="alert alert-success">
                    {{ message }}
               </div>
           {% endfor %}
       {% endif %}
   {% endwith %}
       
   <div class="form">
    <form action="/debtors/details/debt_{{debt_to_update.id}}" method="post">
        <h3>Edit Debt Details</h3>
        <div class="form-group">
            <label for="name">Supplier</label>
            <input type="text" name="s_name" id="" class="form-control" value="{{ debt_to_update.supplier_name }}">
        </div>
        <div class="form-group">
            <label for="name">Date</label>
            <input type="text" name="date_supplied" id="" class="form-control" value="{{debt_to_update.date_supplied}}" disabled>
        </div>

        <div class="form-group">
            <label for="name">Debt Amount</label>
            <input type="number" name="debt_amount" id="" class="form-control" value="{{debt_to_update.debt_amount}}">
        </div>

        <div class="form-group">
            <label for="name">Amount Paid</label>
            <input type="number" name="amount_paid" id="" class="form-control" value="{{debt_to_update.amount_paid}}">
        </div>

        <div class="form-group">
            <label for="name">Balance</label>
            <input type="number" name="" id="" class="form-control" readonly value="{{debt_to_update.debt_amount - debt_to_update.amount_paid}}">
        </div>

       <input type="submit" value="Save Debt Details" class="btn btn-primary">
    </form>
    <br>
    <form action="/delete/{{debt_to_update.id}}" method="post">
        <input type="submit" value="Delete This Record" class="btn btn-danger">
    </form>
    <br>
    <small>
        <b>View Debts <a href="{{url_for('view_debts')}}">Here</a></b>
        <br>
        Go Back <a href="{{url_for('user_dashboard')}}">Home</a>
        <br>
       
    </small>
   </div>
{% endblock body %}
    