<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{{url_for('static',filename='bootstrap.css')}}">
    <link rel="stylesheet" href="{{url_for('static',filename='main.css')}}">
    <title>Debtor App</title>
</head>
<body>
    <header>
        <h1><a href="{{url_for('user_dashboard')}}">Debtor</a></h1>
    </header>
    <div class="container">
        {% block body %}
        
        {% endblock body %}
    </div>
    <footer>
        Debtor, A Ssali Jonathan Project &copy;  2019
    </footer>    
</body>
</html>